/* You can add global styles to this file, and also import other style files */
body {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100% !important;
  min-height: 100vh !important;
  width: 100% !important;
  min-width: 100vw !important;
  margin: 0;
  padding: 0;
}

